.confirmacion_container
{
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    z-index: 999999;
}

.confirmacion_wrapper{
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmacion_center_info{
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.confirmacion_center_info h1{
    text-align: center;
    width: 100%; 
}